services:
  - type: web
    name: terabox-downloader-bot
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn terabox:app
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: PORT
        value: 10000
      - key: RENDER
        value: true
    healthCheckPath: /health
    autoDeploy: true